/*
Folha de estilo css site Aurum eyewear
*/
/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}
/* Importação fontes */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; /*(16px)*/
}
/* Layout */
.container {
    margin: 0 auto;

}

.flex {
    display: flex;
    justify-content: space-between;

}
.flex2 {
    align-items: center;
    display: flex ;
}

.flex3 {
    display: flex;
    align-items: flex-start;
}

.flex4 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.flex5 {
    display: flex;
    justify-content:  space-around;
}



.Botao {
    text-decoration: none;
    color: #ffff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #343538;
    padding: 10px 40px;
    border: 2px solid #ffff;
    border-radius: 25px;
}

/* topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;


}
/* Cartoes */
.card {
    padding: 50px 10px;
    margin-top: 25px;
    width: 450px;
    height: 800px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    

}
.card img {
    height: 750px;
    width: 450px;
    border-radius: 25px 25px 25px 25px;
}





/* Smartphone Portrait >>>>>>>>>>>>*/
@media (min-width: 375px) {

/* Cabeçalho*/
header{
    height: 60px;
}
#logo img {
        width: 128px;
        height: 128px;

}
#check {
    display: none;
}


label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;

}
nav ul {
    list-style: none;
    background-color: #aca10a;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
    z-index: 99999;
}
#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul li a {
    text-decoration: none;
    color: #ffff;

}
/* Destaque */
main {
    height: 45vh;
    background: url(img/Já\ fez\ seu\ exame\ de\ vista\ esse\ ano\ \(8\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;


}
main h1 {
    margin-top: 40px;
    font-size: 2.0em ;
}
main h2 {
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}
/* Sobre nos */
#sobrenos {
    padding: 50px 0px;
    background: url(img/fundo\ sobrenos.png);
    background-size: cover;
    background-position: center;

}
#imagemsobrenos {
    display: none;
}
#textosobrenos{
    color: #aca10a
}
#textosobrenos h2{
    margin-bottom: 10px;
}
/* TikTok */
#TikTok {
    padding: 40px 10px;
    background:url(img/fundo\ ttk.png);
    border-radius: 10%;
}

.video blockquote{ 
    width: 200px;
    height: 570px ;
    
    

}
/* Catálogo */
#catalogo {
    padding: 50px 10px;
    background-size: cover;
    background: url(img/fundo\ sobrenos.png);
    background-position: center;

}

#textocatalogo {
    padding: 50px 10px;
    
}
#textocatalogo h2 {
    margin-bottom: 20px;
}
#textocatalogo span {
    display: none;
}

#qrcode img {
    display: none;
}

/* Conteúdo */
#conteudo {
    padding: 50px 10px;
}

#conteudo h2 {
    text-shadow: 2px 2px 2px #343538;
    margin-bottom: 25px;
    text-align: center;
}
/* Rodapé */
address {
    padding: 50px 10px 50px 10px;
    background: url(img/fundo\ adress.png);
    background-size: cover;
    background-position: center;
    color: #fff
}
address a {
    text-decoration: none;
    color: #fff;
}

address img {
    padding-top: 50px;
    height: 30px;
    width: 30px;
}
#googlemaps {
    display: none;
}
/* Rodape */
.flex5 {
    flex-direction: column;
}
}
/* Smartfone Landscape >>>>>>>>>>>*/
@media (min-width: 375px){
  body {

  }



  main h1 {
    margin-top: 55px;
    font-size: 1.5em;

  }
 /* Destaque */
 main h1, main h2 {
    text-shadow: 1px 1px 1px #000000da;
 }

/* Layout */
  .container {
        max-width: 540px;
  }
}

/* Tablet portrait >>>>>>>>>>>>>>*/
    @media (min-width: 768px) {
        body{

    }
    /* Layout */
  .container {
    max-width: 720px;
}
}
/*tablet landscape>>>>>>>>>>>>>>>>>>*/
    @media(min-width: 992px) {
        body{

        }
        /* Destaque */
        main {
           height: 60vh;
        }
        /* Layout */
  .container {
    max-width: 960px;
}
    }
/* PC >>>>>>>>>>>>>> */
    @media(min-width: 1200px){
        body{

        }
        /* Layout */
  .container {
    max-width: 1140px;
}
/* Destaque */

/* Cabeçalho */
header {
    height: 120px;

}
#logo img {
    width: 189px;
    height: 189px;
    margin-top: 30px;
    margin-right: 100px;
}
label {
    display: none;
}
nav ul {
    position: static;
    height: auto;
    background-color: transparent;

}
nav ul li {
    float: left;
    border: 0;

}
nav ul li a {
   color: #343538;
   

}

nav ul li a:hover {
    color: #aca10a;

}

main {
    height: 75vh;
}

main h1 {
    font-size: 2.0em;
}
main h2 {
    font-size: 1.5em;
}
/* Sobre nos */
    #sobrenos {
        background-attachment: fixed;
    }
    #imagemsobrenos {
        display: inline;
        

    }
    #imagemsobrenos img {
        margin-left: 20px;
        height: 350px;
        width: 350px;
        border-radius: 50%;
    }
    /* TikTok */
    
    
    
  
        
    
    #TikTok {
        padding: 30px 10px;
        background:url(img/fundo\ ttk.png)
    
        
    }

    .video blockquote{
        height: 590px;
        padding: 10px 10px;
        margin-right: 300px;
        border-radius: 10%;
        
    
    }

    /* Catalogo */
    #catalogo {
        background-attachment: fixed;
    }
    
    #textocatalogo span {
        display: inline;
        color: #aca10a;

    }
    #qrcode img {
        display: inline;
        height: 200px;
        width: 200px;
       
    }
    /* Rodapé */
    #googlemaps {
        display: inline;
        
    }
    .fLex5 {
        flex-direction: row-reverse;
    }
    }